<div>

<p>  </p>
	<nav class="navbar navbar-inverse " style= "background-color: #294e89; ">
		<div class="container-fluid">
			<div class="navbar-header" >
				<a class="navbar-brand" href="#">Communication</a>
			</div>
			<ul class="nav navbar-nav" >
				<li class="active"><a href="#">Change Communication</a></li>
			</ul>
		</div>
	</nav>
	<div class="row">
		<div class="col-sm-3" style="color: #405a7c; margin-top: 2%"><strong>Change Number</strong></div>
		<div class="col-sm-3" style="margin-top: 2%"> 
			<input type="text" class="form-control" id="change_num" ng-model="change_num">
		</div>
		<div class="col-sm-3" style="color: #405a7c; margin-top: 2%"><strong>Change Date</strong></div>
	  	<div class="col-sm-3" style="color: #405a7c; margin-top: 2%">
	  		 <div class="input-group">
		        <div class="input-group-addon">
		         <i class="fa fa-calendar">
		         </i>
		        </div>
		        <input class="form-control" id="date" name="change_date" placeholder="MM/DD/YYYY" type="text" ng-model="change_date"/>
       		</div>
    	</div>
	</div><!-- row 1 ends -->
	<div class="row">
		<div class="col-sm-3" style="color: #405a7c; margin-top: 2%"><strong>Change Title</strong></div>
		<div class="col-sm-9" style="margin-top: 2%"> 
			<input type="text" class="form-control" id="change_title" ng-model="change_title">
		</div>	
	</div><!-- row 2 ends -->
	<div class="row">
		<div class="col-sm-3" style="color: #405a7c; margin-top: 2%"><strong>Change Description</strong></div>
		<div class="col-sm-9" style="color: #405a7c; margin-top: 2%"><textarea class="form-control" rows="5" id="change_desc" ng-model="change_desc"></textarea></div>
	</div><!-- row 3 ends -->
	<div class="row">
		<div class="col-sm-3" style="color: #405a7c; margin-top: 2%"><strong>Change Start Time</strong></div>
		<div class="col-sm-3" style="margin-top: 2%"> 
			<input type="text" id="change_start_time" class="from-control" ng-model="change_start_time">
		</div>
		<div class="col-sm-3" style="color: #405a7c; margin-top: 2%"><strong>Change End Time</strong></div>
		<div class="col-sm-3" style="margin-top: 2%"> 
			<input type="text" id="change_end_time" class="from-control" ng-model="change_end_time">
		</div>
	</div><!-- row 4 ends -->
	<div class="row">
		<div class="col-sm-3" style="color: #405a7c; margin-top: 2%"><strong>Impacting Region</strong></div>
		<div class="col-sm-3" style="margin-top: 2%"> 
					  	<select class="form-control" id="impacted_region" ng-model="impacted_region" ng-change="populateCountry()">
					        <option>NAM</option>
					        <option>LATAM</option>
					        <option>EMEA</option>
					        <option>APAC</option>
					    </select>
						 
		 </div>
		<div class="col-sm-3" style="color: #405a7c; margin-top: 2%"><strong>Impacted Country</strong></div>
		<div class="col-sm-3" style="margin-top: 2%"> 
					  	<select multiple class="form-control" id="impacted_country" ng-model="impacted_country" ng-change="populateSanityCountry()">
					        <option ng-repeat="country in countries">{{country.countryName}}</option>
					    </select>
						 
		 </div>
	</div><!-- row 5 ends -->
	<div class="row">
		<div class="col-sm-3" style="color: #405a7c; margin-top: 2%"><strong>PP Involved</strong></div>
		<div class="col-sm-3" style="margin-top: 2%"> 
					  	<select multiple class="form-control" id="pp_involved" ng-model="pp_involved" ng-change="populateApplication()" >
					        <option ng-repeat="pp in listOfPP">{{pp.appName}}</option>
					    </select>
						 
		 </div>		
		 <div class="col-sm-3" style="color: #405a7c; margin-top: 2%"><strong>Change Owner</strong></div>
		<div class="col-sm-3" style="margin-top: 2%"> 
					  	<select class="form-control" id="pp_involved" ng-model="change_owner">
					        <option ng-repeat="pp in listOfPP">{{pp.appName}}</option>
					    </select>
						 
		 </div>		
	
	<div class="row" >
		<div class="col-sm-12"style="color: #405a7c; margin-top: 2%">
		<table class="table table-bordered" id="sanity_scope">
		    <thead>
		      <tr>
		        <th>Application</th>
		        <th>Country</th>
		        <th>Sanity Type</th>
		        <th>Sanity Steps</th>
		        <th>Action</th>
		       </tr>
		    </thead>
		    <tbody >
		     <tr ng-repeat="sanityCount in noOfSanityScope">
		        <td>
			        <select class="form-control" id="{{'application_'+sanityCount}}" ng-model="application['{{sanityCount}}']">
				        <option ng-repeat="x in applications">{{x}}</option>
				    </select>
      			</td>
		        <td>
		        	<select class="form-control" id="{{'country_'+sanityCount}}" ng-model="country['{{sanityCount}}']">
				        <option ng-repeat="country in selectCountry">{{country}}</option>
				    </select>
		        </td>
		        <td>
		        	<select class="form-control" id="{{'sanity_type_'+sanityCount}}" ng-model="sanity_type['{{sanityCount}}']">
					        <option>Internal</option>
					        <option>Business</option>					        
					</select>
		        </td>
		        <td>
		        	<textarea class="form-control" rows="5" id="{{'sanity_step_'+sanityCount}}" ng-model="sanity_step['{{sanityCount}}']"></textarea>
		        </td>
		        <td>
		        	<button type="button" class="btn btn-success" ng-click="addSanity()">+</button>
		        	<button type="button" class="btn btn-danger" ng-click="deleteSanity(sanityCount)">-</button>
		        </td>		        
        	  </tr>
            </tbody>
        </table>
		</div>
	</div><!-- row 9 ends -->
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6" style="align-content: center;"><button type="button" class="btn btn-primary" ng-click="submitForCompletion()" ng-show="submitButt">Submit</button><!--</div>-->
		<!--  <div class="col-sm-3" style="align-content: center;">--><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-show="submitSanity" ng-click="submitSanity()">Submit Sanity Scope</button></div>
		<div class="col-sm-3"></div>
	</div><!-- row 10 ends -->
	
	<div style ="margin-top: 2%"><p>  </p></div>
	<div class="alert alert-success" ng-show="successMessageModel">
		<p><strong>{{saveMessage.message}}</strong></p>
	</div>
	<div class="alert alert-danger" ng-show="failureMessageModel">
		<p><strong>{{saveMessage.message}}</strong></p>
	</div>

</div><!-- Main Div Ends Here -->
<script>
		$(document).ready(function(){
			var date_input=$('input[name="change_date"]'); //our date input has the name "incident_date"
			var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
			date_input.datepicker({
				format: 'mm/dd/yyyy',
				container: container,
				todayHighlight: true,
				autoclose: true,
			})
		});
</script>

<script type="text/javascript">
    $( "#change_start_time" ).timepicker();
    $( "#change_end_time" ).timepicker();
</script>