<div>
<p>  </p>
				<nav class="navbar navbar-inverse " style= "background-color: #294e89; ">
				  <div class="container-fluid">
				    <div class="navbar-header" >
				      <a class="navbar-brand" href="#">Admin Console</a>
				    </div>
				    <ul class="nav navbar-nav" >
				      <li class="active"><a href="#">Country Business Configuration</a></li>
				      
				    </ul>
				  </div>
				  </nav>
	<div class="row">
		<div class="col-sm-3" style="color: #405a7c; margin-top: 2%"><strong>Country Code</strong></div>
		<div class="col-sm-3" style="margin-top: 2%"> 
			<input type="text" class="form-control" id="country_code" ng-model="country_code">
	  	</div>
	  	<div class="col-sm-3" style="color: #405a7c; margin-top: 2%"><strong>Country Name</strong></div>
		<div class="col-sm-3" style="margin-top: 2%"> 
			<input type="text" class="form-control" id="country_name" ng-model="country_name">
	  	</div>
	</div>
	<div class="row">
		<div class="col-sm-3" style="color: #405a7c; margin-top: 2%"><strong>Region</strong></div>
		<div class="col-sm-3" style="margin-top: 2%"> 
			<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="region_butt">Select Region
			<span class="caret"></span></button>
		      <ul class="dropdown-menu">
				<li><a href="" ng-click="changeCountryConfigDD('NAM','region_butt')">NAM</a></li>
				<li><a href="" ng-click="changeCountryConfigDD('LATAM','region_butt')">LATAM</a></li>
				<li><a href="" ng-click="changeCountryConfigDD('EMEA','region_butt')">EMEA</a></li>
				<li><a href="" ng-click="changeCountryConfigDD('APAC','region_butt')">APAC</a></li>
			  </ul>
		    </div>
			<input type ="hidden" ng-model ="region"/>
	  	</div>
	  	<div class="col-sm-3" style="color: #405a7c; margin-top: 2%"><strong>Country DList</strong></div>
		<div class="col-sm-3" style="margin-top: 2%"> 
			<input type="text" class="form-control" id="appName" ng-model="country_dlist">
	  	</div>
	  	
	</div>
	<div class="row">
		<div class="col-sm-3" style="color: #405a7c; margin-top: 2%"><strong>Tech Head Email Id</strong></div>
		<div class="col-sm-3" style="margin-top: 2%"> 
			<input type="text" class="form-control" id="tech_head_email_id" ng-model="tech_head_email_id">
	  	</div>
	  	<div class="col-sm-3" style="color: #405a7c; margin-top: 2%"><strong>O&T Head Email Id</strong></div>
		<div class="col-sm-3" style="margin-top: 2%"> 
			<input type="text" class="form-control" id="ont_head_email_id" ng-model="ont_head_email_id">
	  	</div>
	</div>
	<div class="row">
		<div class="col-sm-3" style="color: #405a7c; margin-top: 2%"><strong>CBM Email Id</strong></div>
		<div class="col-sm-3" style="margin-top: 2%"> 
			<input type="text" class="form-control" id="cbm_email_id" ng-model="cbm_email_id">
	  	</div>
	  	
	</div>
	<div class="row" style=" margin-top: 2%">
		<div class="col-sm-3"></div>
		<div class="col-sm-3" style="align-content: center;"><button type="button" class="btn btn-primary" ng-click="saveConfiguration()">Save Configuration</button></div>
		<div class="col-sm-3" style="align-content: center;"><button type="button" class="btn btn-primary" ng-click="searchConfiguration()">Search Configuration</button></div>
		<div class="col-sm-3"></div>
	</div>
	<div style ="margin-top: 2%"><p>  </p></div>
				<div class="alert alert-success" ng-show="successMessageModel">
					<p><strong>{{saveMessage.message}}</strong></p>
				</div>
				<div class="alert alert-danger" ng-show="failureMessageModel">
					<p><strong>{{saveMessage.message}}</strong></p>
	</div>
	<table class="table table-bordered" ng-show="tableCountryConfig">
		    <thead>
		      <tr>
		        <th>Country Code</th>
		        <th>Country Name</th>
		        <th>Region</th>
		        <th>Country DList</th>
		        <th>Tech Head Email Id</th>
		        <th>O&T Head Email Id</th>
		        <th>CBM Email Id</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr ng-repeat="x in listOfCountryConfig">
		        <td>{{x.countryCode}}</td>
		        <td>{{x.countryName}}</td>
		        <td>{{x.region}}</td>
		        <td>{{x.countryDlist}}</td>
		        <td>{{x.techHead}}</td>
		        <td>{{x.ontHead}}</td>
		        <td>{{x.cbmHead}}</td>
        	  </tr>
            </tbody>
        </table>
</div>