<div>
<p>  </p>
				<nav class="navbar navbar-inverse " style= "background-color: #294e89; ">
				  <div class="container-fluid">
				    <div class="navbar-header" >
				      <a class="navbar-brand" href="#">Triage Leads Activity</a>
				    </div>
				    <ul class="nav navbar-nav" >
				      <li class="active"><a href="#">Critical Incident Tracker</a></li>
				      
				    </ul>
				  </div>
				  </nav>
	<div class="row">
		<div class="col-sm-3" style="color: #405a7c; margin-top: 2%"><strong>Incident Number</strong></div>
		<div class="col-sm-3" style="margin-top: 2%"> 
			<input type="text" class="form-control" id="inc_num" ng-model="inc_num">
	  	</div>
	  	<div class="col-sm-3" style="color: #405a7c; margin-top: 2%"><strong>Highlighted Date</strong></div>
	  	<div class="col-sm-3" style="color: #405a7c; margin-top: 2%">
	  		 <div class="input-group">
		        <div class="input-group-addon">
		         <i class="fa fa-calendar">
		         </i>
		        </div>
		        <input class="form-control" id="date" name="highlighted_date" placeholder="MM/DD/YYYY" type="text" ng-model="highlighted_date"/>
       		</div>
    	</div>
	</div>


</div>