<div>
				<p>  </p>
				<nav class="navbar navbar-inverse " style= "background-color: #294e89; ">
				  <div class="container-fluid">
				    <div class="navbar-header" >
				      <a class="navbar-brand" href="#">Admin Console</a>
				    </div>
				    <ul class="nav navbar-nav" >
				      <li class="active"><a href="#">LOB Configuration</a></li>
				      
				    </ul>
				  </div>
				  </nav>
				  <div class="row">
					  <div class="col-sm-3" style="color: #405a7c; margin-top: 2%"><strong>SOE ID</strong></div>
					  <div class="col-sm-3" style="margin-top: 2%"> 
						<input type="text" class="form-control" id="soeId" ng-model="soeId">
					  </div>
					  
					  <div class="col-sm-3" style="color: #405a7c; margin-top: 2%"><strong>Impacted LOB</strong></div>
					  <div class="col-sm-3" style="margin-top: 2%"> 
					  	<div class="dropdown">
						    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id ="impacted_lob_butt" value="">Impacted LOB
						    <span class="caret"></span></button>
						    <ul class="dropdown-menu">
						      <li><a href="" ng-click="changeLobConfigDD('Core Banking','impacted_lob_butt')">Core Banking</a></li>
						      <li><a href="" ng-click="changeLobConfigDD('Cards','impacted_lob_butt')">Cards</a></li>
						      <li><a href="" ng-click="changeLobConfigDD('CMS','impacted_lob_butt')">CMS</a></li>
						      <li><a href="" ng-click="changeLobConfigDD('Digital','impacted_lob_butt')">Digital</a></li>
						      <li><a href="" ng-click="changeLobConfigDD('Wealth Management','impacted_lob_butt')">Wealth Management</a></li>
						      <li><a href="" ng-click="changeLobConfigDD('DABI','impacted_lob_butt')">DABI</a></li>
						      <li><a href="" ng-click="changeLobConfigDD('ESB','impacted_lob_butt')">ESB</a></li>		      
						    </ul>
						  </div>
						  <input type ="hidden" ng-model ="impacted_lob"/>
				  	  </div>
				  	  </div>
				  	  <div class ="row">
				  	  <div class="col-sm-3" style="color: #405a7c; margin-top: 2%"><strong>Application</strong></div>
					  <div class="col-sm-3" style="margin-top: 2%"> 
					  	<div class="dropdown">
						    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="application_butt" value="">Application
						    <span class="caret"></span></button>
						    <ul class="dropdown-menu">
						      <li ng-repeat="application in listOfApplication">
        						<a href="" ng-click="changeLobConfigDD(application.appName,'application_butt')">{{application.appName}}</a>
    							</li>
						         
						    </ul>
						  </div>
						  <input type ="hidden" ng-model ="application"/>
				  	  </div>
				  	  
				  	  <div class="col-sm-3" style="color: #405a7c; margin-top: 2%"><strong>Role</strong></div>
					  <div class="col-sm-3" style="margin-top: 2%"> 
					  	<div class="dropdown">
						    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="role_butt" value="">Role
						    <span class="caret"></span></button>
						    <ul class="dropdown-menu">
						      <li><a href="" ng-click="changeLobConfigDD('Team Member','role_butt')">Team Member</a></li>
						      <li><a href="" ng-click="changeLobConfigDD('LOB Lead','role_butt')">LOB Lead</a></li>
						      <li><a href="" ng-click="changeLobConfigDD('PSM','role_butt')">PSM</a></li>
						      <li><a href="" ng-click="changeLobConfigDD('PSSM','role_butt')">PSSM</a></li>
						         
						    </ul>
						  </div>
						  <input type ="hidden" ng-model ="role"/>
				  	  </div>
				  	  </div>
				  
				  <div class="row" style=" margin-top: 2%">
					<div class="col-sm-3"></div>
					<div class="col-sm-3" style="align-content: center;"><button type="button" class="btn btn-primary" ng-click="saveConfiguration()">Save Configuration</button></div>
					<div class="col-sm-3" style="align-content: center;"><button type="button" class="btn btn-primary" ng-click="searchConfiguration()">Search Configuration</button></div>
					<div class="col-sm-3"></div>
				  </div>
				  
				  <div style ="margin-top: 2%"><p>  </p></div>
				<div class="alert alert-success" ng-show="successMessageModel">
					<p><strong>{{saveMessage.message}}</strong></p>
				</div>
				<div class="alert alert-danger" ng-show="failureMessageModel">
					<p><strong>{{saveMessage.message}}</strong></p>
				</div>
				<table class="table table-bordered" ng-show="tableLobConfigList">
		    <thead>
		      <tr>
		        <th>SOE ID</th>
		        <th>Impacted Lob</th>
		        <th>Application</th>
		        <th>Role</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr ng-repeat="x in listOfLobConfig">
		        <td>{{x.soeId}}</td>
		        <td>{{x.lob}}</td>
		        <td>{{x.app}}</td>
		        <td>{{x.role}}</td>
        	  </tr>
            </tbody>
        </table>
				
</div><!-- Main div ends here -->