				<div>
				<p>  </p>
				<nav class="navbar navbar-inverse " style= "background-color: #294e89; ">
				  <div class="container-fluid">
				    <div class="navbar-header" >
				      <a class="navbar-brand" href="#">Admin Console</a>
				    </div>
				    <ul class="nav navbar-nav" >
				      <li class="active"><a href="#">PSA Access Configuration</a></li>
				      
				    </ul>
				  </div>
				  </nav>
				  <div class="row">
					  <div class="col-sm-3" style="color: #405a7c; margin-top: 2%"><strong>Module</strong></div>
					  <div class="col-sm-3" style="margin-top: 2%"> 
					  	<div class="dropdown">
						    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id ="module_butt" value="">Select Module
						    <span class="caret"></span></button>
						    <ul class="dropdown-menu">
						       <li ng-repeat="module in modules">
        						<a href="" ng-click="changePSAAccessDD(module.mainModule,'module_butt')">{{module.mainModule}}</a>
    						   </li>
						      	      
						    </ul>
						  </div>
						  <input type ="hidden" ng-model ="module"/>
				  	  </div>
					  
					  <div class="col-sm-3" style="color: #405a7c; margin-top: 2%"><strong>Sub Module</strong></div>
					  <div class="col-sm-3" style="margin-top: 2%"> 
					  	<div class="dropdown">
						    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id ="sub_module_butt" value="">Select Sub Module
						    <span class="caret"></span></button>
						    <ul class="dropdown-menu">
						      <li ng-repeat="subModule in subModules">
        						<a href="" ng-click="changePSAAccessDD(subModule.subModule,'sub_module_butt')">{{subModule.subModule}}</a>
    						   </li>
						    </ul>
						  </div>
						  <input type ="hidden" ng-model ="sub_module"/>
				  	  </div>
				  	  </div>
				  	  
				  	  <div class ="row">
				  	    <div class="col-sm-3" style="color: #405a7c; margin-top: 2%"><strong>Role</strong></div>
					  <div class="col-sm-3" style="margin-top: 2%"> 
					  	<div class="dropdown">
						    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id ="role_butt" value="">Select Role
						    <span class="caret"></span></button>
						    <ul class="dropdown-menu">
						      <li ng-repeat="role in roles">
        						<a href="" ng-click="changePSAAccessDD(role.role,'role_butt')">{{role.role}}</a>
    						   </li>
						    </ul>
						  </div>
						  <input type ="hidden" ng-model ="role"/>
				  	  </div>
				  	  
				  	 <div class="col-sm-3" style="color: #405a7c; margin-top: 2%"><strong>SOE ID</strong></div>
					  <div class="col-sm-3" style="margin-top: 2%"> 
						<input type="text" class="form-control" id="soeId" ng-model="soeId">
					  </div>
				  	  
				 	 </div>
				 	 
				 	 <div class="row" style=" margin-top: 2%">
					<div class="col-sm-3"></div>
					<div class="col-sm-3" style="align-content: center;"><button type="button" class="btn btn-primary" ng-click="saveConfiguration()">Save Configuration</button></div>
					<div class="col-sm-3" style="align-content: center;"><button type="button" class="btn btn-primary" ng-click="searchConfiguration()">Search Configuration</button></div>
					<div class="col-sm-3"></div>
				  </div>
				  <div style ="margin-top: 2%"><p>  </p></div>
			<div class="alert alert-success" ng-show="successMessageModel">
				<p><strong>{{saveMessage.message}}</strong></p>
			</div>
			<div class="alert alert-danger" ng-show="failureMessageModel">
				<p><strong>{{saveMessage.message}}</strong></p>
			</div>
			<table class="table table-bordered" ng-show="tablePsaAccess">
		    <thead>
		      <tr>
		        <th>Module</th>
		        <th>Sub Module</th>
		        <th>Role</th>
		        <th>SOE ID</th>
		       </tr>
		    </thead>
		    <tbody>
		      <tr ng-repeat="x in listOfPsaAccessConfig">
		        <td>{{x.mainModule}}</td>
		        <td>{{x.subModule}}</td>
		        <td>{{x.role}}</td>
		        <td>{{x.soeId}}</td>
        	  </tr>
            </tbody>
        </table>
			</div><!-- main div ends here -->