				<div>
				<p>  </p>
				<nav class="navbar navbar-inverse " style= "background-color: #294e89; ">
				  <div class="container-fluid">
				    <div class="navbar-header" >
				      <a class="navbar-brand" href="#">Admin Console</a>
				    </div>
				    <ul class="nav navbar-nav" >
				      <li class="active"><a href="#">PSA Access Configuration</a></li>
				      
				    </ul>
				  </div>
				  </nav>
				  <div class="row">
					  <div class="col-sm-3" style="color: #405a7c; margin-top: 2%"><strong>Access Type</strong></div>
					  <div class="col-sm-3" style="margin-top: 2%"> 
					  	<div class="dropdown">
						    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id ="access_type_butt" value="">Select Access Type
						    <span class="caret"></span></button>
						    <ul class="dropdown-menu">
						      <li><a href="" ng-click="changePSAAccessDD('Admin Console','access_type_butt')">Admin Console</a></li>
						      <li><a href="" ng-click="changePSAAccessDD('Communication','access_type_butt')">Communication</a></li>
						      <li><a href="" ng-click="changePSAAccessDD('Triage Lead Activity','access_type_butt')">Triage Lead Activity</a></li>
						      	      
						    </ul>
						  </div>
						  <input type ="hidden" ng-model ="access_type"/>
				  	  </div>
					  
					  <div class="col-sm-3" style="color: #405a7c; margin-top: 2%"><strong>Access Role</strong></div>
					  <div class="col-sm-3" style="margin-top: 2%"> 
					  	<div class="dropdown">
						    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id ="access_role_butt" value="">Select Access Role
						    <span class="caret"></span></button>
						    <ul class="dropdown-menu">
						      <li><a href="" ng-click="changePSAAccessDD('Admin','access_role_butt')">Admin</a></li>
						      <li><a href="" ng-click="changePSAAccessDD('Reviewer Level 1','access_role_butt')">Reviewer Level 1</a></li>
						      <li><a href="" ng-click="changePSAAccessDD('Reviewer Level 2','access_role_butt')">Reviewer Level 2</a></li>
						      <li><a href="" ng-click="changePSAAccessDD('Maker','access_role_butt')">Maker</a></li>
						    </ul>
						  </div>
						  <input type ="hidden" ng-model ="access_role"/>
				  	  </div>
				  	  </div>
				  	  
				  	  <div class ="row">
				  	 <div class="col-sm-3" style="color: #405a7c; margin-top: 2%"><strong>SOE ID</strong></div>
					  <div class="col-sm-3" style="margin-top: 2%"> 
						<input type="text" class="form-control" id="soeId" ng-model="soeId">
					  </div>
				  	  
				 	 </div>
				 	 
				 	 <div class="row" style=" margin-top: 2%">
					<div class="col-sm-3"></div>
					<div class="col-sm-3" style="align-content: center;"><button type="button" class="btn btn-primary" ng-click="saveConfiguration()">Save Configuration</button></div>
					<div class="col-sm-3" style="align-content: center;"><button type="button" class="btn btn-primary" ng-click="searchConfiguration()">Search Configuration</button></div>
					<div class="col-sm-3"></div>
				  </div>
				  <div style ="margin-top: 2%"><p>  </p></div>
			<div class="alert alert-success" ng-show="successMessageModel">
				<p><strong>{{saveMessage.message}}</strong></p>
			</div>
			<div class="alert alert-danger" ng-show="failureMessageModel">
				<p><strong>{{saveMessage.message}}</strong></p>
			</div>
			<table class="table table-bordered" ng-show="tablePsaAccess">
		    <thead>
		      <tr>
		        <th>Access Type</th>
		        <th>Access Role</th>
		        <th>Soe Id</th>
		       </tr>
		    </thead>
		    <tbody>
		      <tr ng-repeat="x in listOfPsaAccessConfig">
		        <td>{{x.accessType}}</td>
		        <td>{{x.accessRole}}</td>
		        <td>{{x.soeId}}</td>
		        
        	  </tr>
            </tbody>
        </table>
			</div><!-- main div ends here -->